<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cxstudio.trading.persistence.db.mapper.TradeMapper">

  <resultMap id="TradeMap" type="com.cxstudio.trading.model.Trade">
  	<id column="trade_id" property="tradeId" jdbcType="BIGINT" />  	
  	<result column="percent_change" property="percentChange" jdbcType="FLOAT" />
  	<result column="datetime" property="dateTime" jdbcType="TIMESTAMP" /> 
  	<result column="ask" property="ask" jdbcType="FLOAT" />
  	<result column="bid" property="bid" jdbcType="FLOAT" />
  	<result column="high" property="high" jdbcType="FLOAT" />
  	<result column="low" property="low" jdbcType="FLOAT" />
  	<result column="open" property="open" jdbcType="FLOAT" />
  	<result column="close" property="close" jdbcType="FLOAT" />
  	<result column="volume" property="volume" jdbcType="INTEGER" />
  	<association property="symbol" javaType="com.cxstudio.trading.model.Symbol">
  		<constructor>
  			<idArg column="symbol_id" javaType="int"/>
  			<arg column="ticker" javaType="String" />
  			<arg column="exchange" javaType="String" />
  		</constructor>
  	</association>
  </resultMap>

  <select id="selectTrades" resultMap="TradeMap">
    select ${symbol.symbolId} as symbol_id, '${symbol.ticker}' as ticker, '${symbol.exchange}' as exchange, 
		trade_id, ask, bid, close, high, low, open, volume, percent_change, datetime
	from trade WHERE symbol_id = #{symbol.symbolId}
    <if test="filter.startTime != null">
    	AND datetime &gt;= #{filter.startTime}
    </if>
    <if test="filter.endTime != null">
    	AND datetime &lt; #{filter.endTime}
    </if>
    <if test="filter.order != null">
    	ORDER BY datetime #{filter.order}
    </if>
    
    <choose>
	    <when test="filter.limit > 0">
	    	Limit ${filter.limit}
	    </when>
	    <otherwise>
	    	Limit 10000
	    </otherwise>
    </choose>
  </select>
  
  <select id="selectMiddleBufferedTrades" resultMap="TradeMap">
  	(SELECT ${symbol.symbolId} as symbol_id, '${symbol.ticker}' as ticker, '${symbol.exchange}' as exchange, 
		trade_id, ask, bid, close, high, low, open, volume, percent_change, datetime
		FROM trade WHERE symbol_id = #{symbol.symbolId}
  	  	AND datetime &lt; #{filter.startTime}
    	ORDER BY datetime DESC
    	Limit ${filter.limit})
    UNION 
  	(SELECT ${symbol.symbolId} as symbol_id, '${symbol.ticker}' as ticker, '${symbol.exchange}' as exchange, 
		trade_id, ask, bid, close, high, low, open, volume, percent_change, datetime
		FROM trade WHERE symbol_id = #{symbol.symbolId}
  	  	AND datetime &gt;= #{filter.startTime}
    	ORDER BY datetime ASC
    	Limit ${filter.limit})
    ORDER BY datetime ASC  
  </select>
  
  <insert id="insertTrades">
  	 INSERT INTO trade (symbol_id,
						open,
						close,
						high,
						low,
						percent_change,
						bid,
						ask,
						volume,
						datetime
      ) VALUES
    <foreach collection="trades" item="trade" separator=","> 
      (           
         #{trade.symbol.symbolId},
		 #{trade.open},
		 #{trade.close},
		 #{trade.high},
		 #{trade.low},
		 #{trade.percentChange},
		 #{trade.bid},
		 #{trade.ask},
		 #{trade.volume},
		 #{trade.dateTime}
      )
    </foreach>
  </insert>
  
  <insert id="insertTempTrades">
  	 INSERT INTO trade_test (symbol_id,
						open,
						close,
						high,
						low,
						percent_change,
						bid,
						ask,
						volume,
						datetime
      ) VALUES
    <foreach collection="trades" item="trade" separator=","> 
      (           
         #{trade.symbol.symbolId},
		 #{trade.open},
		 #{trade.close},
		 #{trade.high},
		 #{trade.low},
		 #{trade.percentChange},
		 #{trade.bid},
		 #{trade.ask},
		 #{trade.volume},
		 #{trade.dateTime}
      )
    </foreach>
  </insert>
</mapper>